<ion-view view-title="Activities" hide-nav-bar="false">

<!--   <ion-nav-title>
    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input ng-model="search_text" type="text" placeholder="Search..." focus-me my-enter="search_model(search_text)" autofocus>
      </label>
    </div>
  </ion-nav-title> -->


  <ion-content>

    <div class="cardflat">

      <ion-item class="item-avatar">     
        <img src= {{user.info.foodieImg}} ui-sref="app.profile({'foodieKey':user.info.foodieID})">
        <div ng-click="openNewArticle()">
          <span> Recommand a Restaurant<br></span> 
          <span style="color: grey"> Share your happyness !!</span>
        </div>
      </ion-item>

    </div>

    <!-- <div class="cardflat item-text-wrap" ng-repeat="article in selectedArticle"> -->
    <div class="cardflat item-text-wrap" ng-repeat="article in articles" ng-init='foodieInfo=getSelectedArticleFoodieInfo(article.author)'>

      <div ui-sref="app.profile({'foodieKey':article.author})" style="border-bottom:0px ; margin-bottom: 0px" >
        <ion-item class="item-avatar no-padding" style="border-bottom:0;">
          <img src= {{foodieInfo.foodieImg}}>
          <span>{{foodieInfo.foodieName}} [Lv {{foodieInfo.foodieLv}}]</span>
          <i class="icon ion-stats-bars"></i> {{foodieInfo.foodieScore}}% <br>
          <i class="icon ion-clock "></i> 3 hrs ago
        </ion-item>
      </div>

      <div class="pictureFrame" style="background-image: url({{article.coverImage}});" ui-sref="app.article({'articleKey':article.key})">
        <img src={{article.coverImage}} style="visibility: hidden; width: 100%">
        <div class="backgroundGradient"></div>
        <div class="textShadow">
        {{article.name}}
        </div>
      </div>
      <!-- </div> -->

      <div style="height:50px; padding: 0px">

      <div class="half" style="padding: 0px">
        <button class="button icon ion-heart" ng-click="bookmarkArticle(article.key)"></button>
        <button class="button icon ion-share" ui-sref="app.favourites"></button>
      </div>

      <div class="half" style="padding: 0px">
        <span style="float: right; font-size: 12px">alex, mike, and 12 others like it<br></span>
        <span style="float: right; font-size: 12px">{{article.upVote}} favoirites, {{article.articleRating}} positive</span>
      </div>

      </div>
<!--       <div class="item" style="height:100%; padding: 0px">
        <span style="float: right; font-size: 12px">{{article.upVote}} favoirites, {{article.articleRating}} positive</span>
      </div>

      <div class="button-bar no-padding">
        <button class="button ion-thumbsup" href="#/app/favourites">Save</button>
        <button class="button ion-share" ui-sref="app.favourites">Share</button>
        <button class="button ion-ionic" href="#/app/activities/{{article.key}}">Rate</button>
      </div> -->

    </div>

  </ion-content>

</ion-view>