<ion-view view-title="Articles">
  <ion-content>
    <label>Search: <input ng-model="searchText"></label>
    <br>

    <!--<label class="toggle">
     <input type="checkbox">
     <div class="track">
         <div class="handle"></div>
     </div>
    </label>-->

    <label class = "item item-input item-select">
     <div class = "input-label">
      Location
      </div>
  
      <select>
        <option>All</option>
        <option>HK</option>
        <option>KL</option>
        <option>NT</option>
      </select>
    </label>

    <label class = "item item-input item-select">
     <div class = "input-label">
      Type
      </div>
  
      <select>
        <option>All</option>
        <option>Chinese</option>
        <option>Westen</option>
        <option>Japanese</option>
        <option>Korean</option> 
        <option>South East</option> 
      </select>
    </label>

    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" collection-repeat="article in Articles| filter:searchText |filter:filter |limitTo: 100 " type="item-text-wrap" href="#/tab/dash/{{Article.id}}">
        <!--<img ng-src="{{Article.face}}">-->
        <h2>{{article.name}}</h2>
        <p>{{article.id}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-balanced" ng-click="bookmark(article)"> Bookmark</ion-option-button>
      </ion-item> 
    </ion-list>
  </ion-content>
</ion-view>
