<ion-view view-title="Articles">
  <ion-content>
    <label>Search: <input ng-model="searchText"></label>
    <br>

    <!--<label class="toggle">
     <input type="checkbox">
     <div class="track">
         <div class="handle"></div>
     </div>
    </label>

    <label class = "item item-input item-select">
     <div class = "input-label">
      Location
      </div>
  
      <select>
        <option>All</option>
        <option>HK</option>
        <option>KL</option>
        <option>NT</option>
      </select>
    </label>

    <label class = "item item-input item-select">
     <div class = "input-label">
      Type
      </div>
  
      <select>
        <option>All</option>
        <option>Chinese</option>
        <option>Westen</option>
        <option>Japanese</option>
        <option>Korean</option> 
        <option>South East</option> 
      </select>
    </label>
    -->
    <ion-item 
        class="item-avatar item-text-wrap card" 
        ng-repeat="article in Articles| filter:searchText |limitTo: 10 " 
        href="#/tab/dash/{{Article.id}}">

        <img ng-src="{{article.foodieimg}}">
        <h2>{{article.name}}</h2>
        <p>{{article.caption}}</p>
        <a class="image"><img src= {{article.cover}}>
        <div class="card-footer text-left">
            Foodie: {{article.foodie}}
        </div>        
        <div class="card-footer text-right">
            <i class="icon ion-clock"></i> {{article.age}}
            <i class="icon ion-heart assertive"></i> {{article.rating}} 
        </div>
    </ion-item>
  </ion-content>
</ion-view>
