  <ion-view view-title="{{selectedArticle.name}}" hide-nav-bar="false">

  <ion-content>
  
<!--     Article ID:  {{selectedArticle.key}} <br>
    Author ID:  {{selectedArticle.author}} <br> -->

       <div class="list">
          <div class="item item-avatar" ui-sref="app.profile({'foodieKey':selectedArticle.author})" >
            <img src="http://ionicframework.com/img/docs/mcfly.jpg">
            <h2>{{selectedArticle.author}}</h2>
            <p>November 05, 1955</p>
          </div>



          <div class="item item-body" style="padding: 0px">
          
            <ion-slide-box does-continue="true" auto-play="true" style="padding-bottom: 15px" >
            <ion-slide>
              <img class="full-image" src="img/squareFood1.jpg" >
            </ion-slide>
            <ion-slide>
              <img class="full-image" src="img/squareFood2.jpg" >
            </ion-slide>
            <ion-slide>
              <img class="full-image" src="img/squareFood3.jpg" >
            </ion-slide>
            </ion-slide-box>
           
            <p>
              {{selectedArticle.name}}<br>
              {{selectedArticle.contents}}
              <br>
              <a href="#" class="subdued">{{selectedArticle.upVote}} Like</a>
              <a href="#" class="subdued">{{selectedArticle.articleRating}} % Positive</a>
            </p>
          </div>

          <div class="item" ui-sref="app.restaurant">
            <h2>{{selectedArticle.restaurantName}}</h2>
            <p>{{selectedArticle.location}}</p>
            <p>{{selectedArticle.type}}</p>
            <p>{{selectedArticle.timestamp}}</p>
          </div>

          <div class="item tabs tabs-secondary tabs-icon-left" style="height:49px; line-height:49px">
            <a class="tab-item" href="#">
              <i class="icon ion-thumbsup"></i>
              Like
            </a>
            <a class="tab-item" href="#">
              <i class="icon ion-chatbox"></i>
              Comment
            </a>
            <a class="tab-item" href="#">
              <i class="icon ion-share"></i>
              Share
            </a>
          </div>
       </div>

  
  </ion-content>

  <!--ion-footer-bar class="button-bar">
          <a class="button" ng-click="openlogin()">Save</a>
          <a class="button" ng-click="opennewarticle()">Share</a>
          <a class="button" on-touch="vote.show($event)">Rate</a>
  </ion-footer-bar-->

  <!--div class="cardflat item-text-wrap">

    <div ui-sref="app.profile">
      <ion-item class="item-avatar no-padding">
      <img src= {{article.foodieimg}}>
      {{article.foodie}}
      <br>
      <i class="icon ion-stats-bars"></i> 100% (foodie rating)
      </ion-item>
    </div>

    <div class="item item-borderless noTopPadding">
      <div>
        <h2>{{article.name}}</h2>
      </div>

      <div class="item-image" ng-click="toggleGroup(article)">
        <img src= {{article.cover}}>
      </div>

          <div class="item-accordion" ng-show="isGroupShown(article)">
            <div>
              details{{article.details}}
              </div>
              <div>
              {{article.detailpics}}
              </div>
              <div>
              <button class="button icon-left button-assertive icon ion-heart button-clear">Save It</button>
              <button class="button icon-left button-positive icon ion-thumbsup button-clear">Like!</button>
              <button class="button icon-left button-positive icon ion-thumbsdown button-clear">Inaccruate</button>
              </div>
          </div>

          <div>
            <i class="icon ion-stats-bars "></i> 99%
            <i class="icon ion-clock "></i> 3 hrs ago
          </div>

        </div>

        <div class="button-bar no-padding">
          <a class="button" ng-click="openlogin()">Save</a>
          <a class="button" ng-click="opennewarticle()">Share</a>
          <a class="button" on-touch="vote.show($event)">Rate</a>
        </div>

    </div>
  </ion-content>
</ion-modal-view>
