<ion-modal-view>

  <ion-header-bar>
    <h1 class="title">(Article Title)</h1>
    <div class="buttons">
      <button class="button button-cross" ng-click="closearticle()">Close</button>
    </div>
  </ion-header-bar>

  <ion-content>
  <div class="item item-avatar">
    <img src= {{article.foodieimg}}>
    Foodie Name<br>
    <i class="icon ion-stats-bars"></i> 100% (foodie rating)
  </div>

  <div class="item">
            <p>nextline<br>nextline</p><p>nextline<br>nextline</p>
            <p>nextline<br>nextline</p><p>nextline<br>nextline</p>
  </div>

  <div class="button-bar">
          <a class="button" ng-click="openlogin()">Save</a>
          <a class="button" ng-click="opennewarticle()">Share</a>
          <a class="button" on-touch="vote.show($event)">Rate</a>
  </div>

  </ion-content>

  <!--ion-footer-bar class="button-bar">
          <a class="button" ng-click="openlogin()">Save</a>
          <a class="button" ng-click="opennewarticle()">Share</a>
          <a class="button" on-touch="vote.show($event)">Rate</a>
  </ion-footer-bar-->

  <!--div class="cardflat item-text-wrap">

    <div ui-sref="app.profile">
      <ion-item class="item-avatar no-padding">
      <img src= {{article.foodieimg}}>
      {{article.foodie}}
      <br>
      <i class="icon ion-stats-bars"></i> 100% (foodie rating)
      </ion-item>
    </div>

    <div class="item item-borderless noTopPadding">
      <div>
        <h2>{{article.name}}</h2>
      </div>

      <div class="item-image" ng-click="toggleGroup(article)">
        <img src= {{article.cover}}>
      </div>

          <div class="item-accordion" ng-show="isGroupShown(article)">
            <div>
              details{{article.details}}
              </div>
              <div>
              {{article.detailpics}}
              </div>
              <div>
              <button class="button icon-left button-assertive icon ion-heart button-clear">Save It</button>
              <button class="button icon-left button-positive icon ion-thumbsup button-clear">Like!</button>
              <button class="button icon-left button-positive icon ion-thumbsdown button-clear">Inaccruate</button>
              </div>
          </div>

          <div>
            <i class="icon ion-stats-bars "></i> 99%
            <i class="icon ion-clock "></i> 3 hrs ago
          </div>

        </div>

        <div class="button-bar no-padding">
          <a class="button" ng-click="openlogin()">Save</a>
          <a class="button" ng-click="opennewarticle()">Share</a>
          <a class="button" on-touch="vote.show($event)">Rate</a>
        </div>

    </div>
  </ion-content>
</ion-modal-view>
