<ion-view view-title="Favourites"  hide-nav-bar="false">
  	<ion-content style="background-color: #ffc">

    <!--div class="button-bar bar-energized">
       	<a class="button ion-clock" ui-sref="app.activities">Activites</a>
       	<a class="button ion-button" ui-sref="app.selections">Selecions</a>
       	<a class="button ion-button" ui-sref="app.favourites">Favourites</a>
       	<a class="button ion-navicon" menu-toggle="right">Me</a>
  	</div-->

<!--div class="col-50 col-offset-50"-->


  <div>
    <ion-item class="item-text-wrap">
    <div class="oneThird"><img src="img/food1.jpg" class="full-image"></div>
          Hidden Gems in Central<br><p>#Western #FollowedFoodie #Central #Japanese #Cheap</p>
    </ion-item>

    <ion-item class="item">
    <div class="oneThird"><img src="img/food2.jpg" class="full-image"></div>
          article.name<br>article.tags
    </ion-item>

    <ion-item class="item">
    <div class="oneThird"><img src="img/food3.jpg" class="full-image"></div>
          article.name<br>article.tags
    </ion-item>

    <ion-item class="item">
    <div class="oneThird"><img src="img/food3.jpg" class="full-image"></div>
          article.name<br>article.tags
    </ion-item>

    <ion-item class="item">
    <div class="oneThird"><img src="img/food1.jpg" class="full-image"></div>
          article.name<br>article.tags
    </ion-item>

    <ion-item class="item">
    <div class="oneThird"><img src="img/food1.jpg" class="full-image"></div>
          article.name<br>article.tags
    </ion-item>

  </div>



    </ion-content>
</ion-view>
