<ion-view view-title="Favourites"  hide-nav-bar="false">
  <ion-content style="background-color: #ffc">

<!--     <ion-item ng-repeat="articlekey in favouriteArticle" ng-init="article=getArticlebyKey(articlekey)" ui-sref="app.article({'articleKey':articleKey})">
    <div class="item-text-wrap item-thumbnailLarge-left">
      <img src={{article.coverImage}}>
      <span>{{article.name}}<br><p>#{{article.type}} #{{article.location}} #FollowedFoodie</p></span>
    </div>
    </ion-item> -->

<!--     <ion-item class="item-text-wrap item-thumbnailLarge-left" ng-repeat="articlekey in favouriteArticle" ng-init='article=getArticlebyKey(articlekey)' style="height: 110px">
      <img src={{article.coverImage}} ui-sref="app.article({'articleKey':articlekey})">
      <span>{{article.name}}<br><p>#{{article.type}} #{{article.location}} #FollowedFoodie</p></span>
    </ion-item>
 -->

    <ion-list>
    <ion-item class="item-text-wrap item-thumbnailLarge-left" ng-repeat="articlekey in user.bookmark"  ng-init='article=getArticlebyKey(articlekey)' style="height: 110px">
      <img src={{article.coverImage}} ui-sref="app.article({'articleKey':articlekey})">
      <span>{{article.name}}<br><p>#{{article.type}} #{{article.location}} #FollowedFoodie</p></span>
    </ion-item>
    <ion-option-button>123</ion-option-button>
    </ion-list>

<!--         <ion-item class="item-text-wrap item-thumbnailLarge-left"
                  ng-repeat="articlekey in favouriteArticle" 
                  item="articlekey"
                  ng-init='article=getArticlebyKey(articlekey)' 
                  style="height: 110px">

          <img src={{article.coverImage}} ui-sref="app.article({'articleKey':articlekey})">
          <span>{{article.name}}<br><p>#{{article.type}} #{{article.location}} #FollowedFoodie</p></span>
        </ion-item> -->

  </ion-content>
</ion-view>
