



<ion-view view-title="Foodie">


<ion-item class= "item-text-wrap">
    <div style="background-image: url('img/ionic.png');">
        <div class="Content item-avatar-right"> 
            <img src= 'img/perry.png'>
        </div>
        <div class="content">
            <h3>Name Here</h3>
        </div>
    </div>
</ion-item>


<ion-list>
 <ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="Statistic" 
           icon-off="ion-stats-bars" 
           icon-on="ion-stats-bars-strong" 
           href="#/tab/articles">
           <ion-nav-view name="articles"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Follows" 
           icon-off="ion-ios-people" 
           icon-on="ion-ios-people-strong" 
           href="#/tab/articles">
           <ion-nav-view name="articles"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Articles" 
           icon-off="ion-android-list-outline" 
           icon-on="ion-android-list" 
           href="#/tab/articles">
           <ion-nav-view name="articles"></ion-nav-view>
  </ion-tab>

 </ion-tabs>
</ion-list>



</ion-view>