<ion-view view-title="Foodie">
  <ion-content>
    
    <div style="background-image: url('img/perry.png');">
        <div class="content">
                <div class="item item-avatar" style="background-image: url('img/perry.png');"></div>
                <h3>Foodie Name Here</h3>
        </div>
    </div>


    <div class="tabs tabs-icon-top static">
            <a ui-sref="tab.statistics" class="tab-item">
                <i class="icon ion-arrow-graph-up-right"></i> Statistics
            </a>
            <a ui-sref="tab.follower" class="tab-item">
                <i class="icon ion-ios-people"></i> Follower
            </a>
            <a ui-sref="tab.articles" class="tab-item">
                <i class="icon ion-android-list"></i> Articles
            </a>
    </div>

  </ion-content>
</ion-view>
