<ion-side-menus enable-menu-with-back-views="true" >

  <ion-side-menu-content drag-content="false">

    <ion-nav-bar class="bar-stable bar-energized" icon="ion-navicon" ng-click="toggleRightSideMenu()">

      <ion-nav-back-button>
      </ion-nav-back-button>

      <!--ion-nav-buttons>
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
      </ion-nav-buttons-->

    </ion-nav-bar>


<!-- TABS ===========================================================================================-->
    <ion-tabs class="tabs-icon-top tabs-color-active-energized tabs-light">

      <ion-tab title="Completed Missions" icon-off="ion-ios-paper" icon-on="ion-ios-paper" ui-sref="app.completedMissions" hidden="true">
          <ion-nav-view name="tab_completedMissions"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Mission Details" icon-off="ion-android-create"" icon-on="ion-android-create"" ui-sref="app.missionDetails" hidden="true">
        <ion-nav-view name="tab_missionDetails"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Editor's Choice" icon-off="ion-ios-color-wand" icon-on="ion-ios-color-wand" ui-sref="app.selections" hidden="true">
        <ion-nav-view name="tab_selections" ></ion-nav-view>
      </ion-tab>

      <ion-tab title="Favourites" icon-off="ion-heart" icon-on="ion-heart" ui-sref="app.favourites" hidden="true">
        <ion-nav-view name="tab_favourites"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Profile" icon-off="ion-person" icon-on="ion-person" ui-sref="app.profile" hidden="true">
        <ion-nav-view name="tab_profile"></ion-nav-view>
      </ion-tab>

      <ion-tab title="TestTab" icon-off="ion-android-create"" icon-on="ion-android-create"" ui-sref="app.test" hidden="true">
        <ion-nav-view name="tab_test"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Restaurant" icon-off="ion-android-create"" icon-on="ion-android-create"" ui-sref="app.restaurant" hidden="true" >
        <ion-nav-view name="tab_restaurant"></ion-nav-view>
      </ion-tab>




      <ion-tab title="List" icon-off="ion-android-create"" icon-on="ion-android-create"" ui-sref="app.List">
        <ion-nav-view name="tab_List"></ion-nav-view>
      </ion-tab>

      <ion-tab title="City" icon-off="ion-android-create"" icon-on="ion-android-create"" ui-sref="app.City">
        <ion-nav-view name="tab_City"></ion-nav-view>
      </ion-tab>


      <ion-tab title="Campaign" icon-off="ion-android-create"" icon-on="ion-android-create"" ui-sref="app.Campaign">
        <ion-nav-view name="tab_Campaign"></ion-nav-view>
      </ion-tab>


      <ion-tab icon="ion-navicon" ng-click="toggleRightSideMenu()">
      </ion-tab>

    </ion-tabs>
<!-- TABS ===========================================================================================-->

  </ion-side-menu-content>

<!-- SIDEMENU =======================================================================================-->
  <ion-side-menu side="right">

    <ion-content>

      <div class="sidemenu-content" ui-sref="app.profile({'foodieKey':user.info.foodieID})" menu-close>
        <div class="sidemenu-avatar" >
          <img src= "{{user.info.foodieImg}}">
          <h3>{{user.info.foodieName}}</h3>
        </div>
      </div>

      <button class="button button-block " ng-click="openlogin()" menu-close>Login</button>


      <ion-list>
        <!-- <ion-item menu-close ui-sref="app.completedMissions">Activites</ion-item> -->
        <!-- <ion-item menu-close ui-sref="app.selections">Editor's Selections</ion-item> -->
        <!-- <ion-item menu-close ui-sref="app.favourites">Temp</ion-item> -->
        <!-- <ion-item menu-close ui-sref="app.favourites">My Followings</ion-item> -->
        <!-- <ion-item menu-close ui-sref="app.favourites">My Points</ion-item> -->
        <!-- <ion-item menu-close ng-click="openNewArticle()">Recommand</ion-item> -->

        <!-- <ion-item menu-close ng-click="openlogin()">Login</ion-item> -->
        <!-- <ion-item menu-close ng-click="CopyDatabase()">CopyDatabase</ion-item> -->
        <!-- <ion-item menu-close ng-click="updateDatabase()">UpdateDatabase</ion-item> -->


      </ion-list>
    </ion-content>

  </ion-side-menu>
<!-- SIDEMENU =======================================================================================-->

</ion-side-menus>

