<ion-side-menus enable-menu-with-back-views="true">

  <ion-side-menu-content>

    <ion-nav-bar class="bar-stable">

      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons>
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
      </ion-nav-buttons>

    </ion-nav-bar>


<!-- TABS ===========================================================================================-->
    <ion-tabs class="tabs-icon-top tabs-color-active-energized tabs-light">

      <ion-tab title="Status" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" ui-sref="app.activities">
          <ion-nav-view name="tab_activities"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Status" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" ui-sref="app.selections">
        <ion-nav-view name="tab_selections"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Status" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" ui-sref="app.favourites">
        <ion-nav-view name="tab_favourites"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Status" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" ui-sref="app.profile">
        <ion-nav-view name="tab_profile"></ion-nav-view>
      </ion-tab>
    </ion-tabs>
<!-- TABS ===========================================================================================-->

  </ion-side-menu-content>

<!-- SIDEMENU =======================================================================================-->
  <ion-side-menu side="right">

    <ion-header-bar class="dark-bg expanded">
        <span class="profile-image" style="background: url('img/max.png'); background-size: cover;" nav-clear menu-close ui-sref="app.profile"></span>
        <h2 nav-clear menu-close ui-sref="app.profile">{{user.displayName}} User Name</h2>
    </ion-header-bar>

    <ion-content>
      <ion-list>
        <ion-item menu-close ui-sref="app.activities">Activites</ion-item>
        <ion-item menu-close ui-sref="app.selections">Editor's Selections</ion-item>
        <ion-item menu-close ui-sref="app.favourites">Saved Articles</ion-item>
      </ion-list>
    </ion-content>

  </ion-side-menu>
<!-- SIDEMENU =======================================================================================-->

</ion-side-menus>

