<ion-view>

<!--
   <div style="background-image: url('img/ionic.png')">
        <div class="item-avatar"> 
            <img src= 'img/perry.png'>
        </div>
        <div>
            <h3>Name Here</h3>
        </div>
    </div>  
-->
<ion-header class="bar bar-positive">
        <div class="item-avatar"> 
            <img src= 'img/perry.png'>
            <h1 class="title">{{user.displayName}}</h1>
        </div>
</ion-header>


 <ion-tabs class="tabs-icon-top tabs-top tabs-striped abs-color-active-positive relative ">

  <ion-tab title="About" 
           icon-off="ion-stats-bars" 
           icon-on="ion-stats-bars">
           <ion-nav-view name="articles"></ion-nav-view>

          <ion-content>
           <ion-item class="card item-text-wrap">
           Hello
           </ion-item>
           <ion-item class="card item-text-wrap">
           Here show some basic info of the user
           </ion-item>
           <ion-item class="card item-text-wrap">
           and the score of the user
           </ion-item>
          </ion-content>  
  </ion-tab>

  <ion-tab title="Follows" 
           icon-off="ion-stats-bars" 
           icon-on="ion-stats-bars">
           <ion-nav-view name="articles"></ion-nav-view>

          <ion-content>
           <ion-item class="card item-text-wrap" 
                     ng-repeat="article in Articles">

                     <div 
                       class="item item-avatar-left">
                       <img src= {{article.foodieimg}}>
                     </div>     
    
           </ion-item>
          </ion-content>  
  </ion-tab>

  <ion-tab title="Articles" 
           icon-off="ion-stats-bars" 
           icon-on="ion-stats-bars">
           <ion-nav-view name="articles"></ion-nav-view>

          <ion-content>
           <ion-item class="card item-text-wrap" 
                     ng-repeat="article in Articles| filter:searchText">

                     <div 
                       class="item item-divider" 
                       ng-click="toggleGroup(article)">
                       <p>{{article.name}}</p>
                     </div>

                     <div
                       class="item item-image" 
                       ng-click="toggleGroup(article)"
                       ng-class="{active: isGroupShown(article)}">
                       <img src= {{article.cover}}>
                     </div>

                     <div 
                       class="item-accordion"
                       ng-show="isGroupShown(article)">
                       {{article.details}}<br>
                       {{article.details}}<br>
                       <button class="button icon-left button-assertive icon ion-heart button-clear">Wanna Try</button>
                       <button class="button icon-left button-positive icon ion-thumbsup button-clear">Like!</button>
                       <button class="button icon-left button-positive icon ion-thumbsdown button-clear">Inaccruate</button>
                     </div>

                     <div 
                       class="item item-avatar-left">
                       <img src= {{article.foodieimg}}>
                       {{article.foodie}}<br>
                       <i class="icon ion-clock"></i> {{article.age}}
                       <i class="icon ion-stats-bars"></i> {{article.rating}} 
                     </div>     
           </ion-item>
          </ion-content>  
  </ion-tab>
 </ion-tabs>


</ion-content>

</ion-view>