<ion-view view-title="Profile">

    <ion-content ng-class="{expanded:$scope.isExpanded}" scroll="true">

        <div class="hero" style="background-image: url('img/profile-bg.jpg');"> 
        <!-- class="slide-up" -->
            <div class="content">
                <div class="avatar" style="background-image: url('img/daenerys.jpg');"></div>
                <h3><a class="light">{{user.displayName}} Name </a></h3>
                <h4>{{user.ranking}} Ranking </h4>
            </div>
        </div>

        <!--div>
            <ion-list>
            <div class="button-bar bar-balanced">
            <a class="button ion-button" ng-click="slide(0)">Info</a>
            <a class="button ion-button" ng-click="slide(1)">Articles</a>
            <a class="button ion-button" ng-click="slide(2)">Followers</a>
            <a class="button ion-button" ng-click="slide(3)">Followings</a>
            </div>
            </ion-list>
        </div-->
        <div class="group">

        <div class="tabs tabs-dark tabs-icon-top static" ion-affix data-affix-within-parent-with-class="group">
            <a ng-click="slide(0)" class="tab-item">
                <i class="icon ion-arrow-graph-up-right"></i> Info
            </a>
            <a ng-click="slide(1)" class="tab-item">
                <i class="icon ion-android-people"></i> Followers
            </a>
            <!--a ng-click="slide(2)" class="tab-item">
                <i class="icon ion-images"></i> Following
            </a-->
            <a ng-click="slide(2)" class="tab-item">
                <i class="icon ion-images"></i> Articles
            </a>
        </div>

        <div>
            <ion-slide-box class="delegate-handle" on-slide-changed="scrollTop()" on-slide-changed="activateTabs($index)"  show-pager="false" >
                <ion-slide>
                <!--ion-scroll style="height:auto; overflow:hidden;"-->
                    <ion-item class="card item-text-wrap">
                        Hello
                    </ion-item>
                    <ion-item class="card item-text-wrap">
                        Here show some basic info of the user
                    </ion-item>
                    <ion-item class="card item-text-wrap">
                        and the score of the user
                    </ion-item>
                <!--/ion-scroll-->     
                </ion-slide>
                
                <ion-slide>
                <!--ion-scroll style="height:100vh; overflow:hidden;"-->   
                    <ion-item class="card item-text-wrap" ng-repeat="article in articles">
                        <div class="item item-avatar-left">
                        <img src= {{article.foodieimg}}>
                        <p>{{article.foodie}}</p>
                        <p>This is a follower</p>
                        </div>      
                    </ion-item>
                <!--/ion-scroll-->  
                </ion-slide>

                <!--ion-slide>
                <ion-scroll style="height:100vh; overflow:hidden;">   
                    <ion-item class="card item-text-wrap" ng-repeat="article in Articles">
                        <div class="item item-avatar-left">
                        <img src= {{article.foodieimg}}>
                        </div>      
                    </ion-item>
                    <ion-item class="card item-text-wrap">
                        <div class="item item-avatar-left">
                        <img src= 'img/daenerys.jpg'>
                        </div>      
                    </ion-item>
                    <ion-item class="card item-text-wrap">
                        <div class="item item-avatar-left">
                        <img src= 'img/daenerys.jpg'>
                        </div>      
                    </ion-item>                                        
                </ion-scroll>  
                </ion-slide-->

                <ion-slide>
                <!--ion-scroll style="height:100vh; overflow:hidden;"-->
                    <ion-item class="card item-text-wrap" ng-repeat="article in articles| filter:searchText">
                        <div class="item item-divider" ng-click="toggleGroup(article)">
                        <p>{{article.name}}</p>
                        </div>
                        
                        <div class="item item-image" ng-click="toggleGroup(article)" ng-class="{active: isGroupShown(article)}">
                        <img src= {{article.cover}}>
                        </div>

                        <div class="item-accordion" ng-show="isGroupShown(article)">
                        {{article.details}}<br>
                        {{article.details}}<br>
                        <button class="button icon-left button-assertive icon ion-heart button-clear">Wanna Try</button>
                        <button class="button icon-left button-positive icon ion-thumbsup button-clear">Like!</button>
                        <button class="button icon-left button-positive icon ion-thumbsdown button-clear">Inaccruate</button>
                        </div>

                        <div class="item item-avatar-left">
                        <img src= {{article.foodieimg}}>
                        {{article.foodie}}<br>
                        <i class="icon ion-clock"></i> {{article.age}}
                        <i class="icon ion-stats-bars"></i> {{article.rating}} 
                        </div>     
                    </ion-item>
                <!--/ion-scroll-->
                </ion-slide>
            </ion-slide-box>
        </div>

        </div>
    </ion-content>
</ion-view>
