<ion-view view-title="Restaurant">

    <ion-content ng-class="{expanded:$scope.isExpanded}">

    <div class="group">

    <div ion-affix data-affix-within-parent-with-class="group">
        <div class="hero" style="background-image: url('img/material1.jpg');"> 
        <!-- class="slide-up" -->
            <div class="content">
                <div class="avatar" style="background-image: url('img/crown.jpg');"></div>
                <h3><a class="light">{{user.displayName}} Restaurant Name </a></h3>
                <p1>{{user.ranking}} Tel <br></p1>
                <p1>{{user.ranking}} Location </p1>
            </div>
        </div>
    </div>

    <div>
        <ion-item class="card item-text-wrap" ng-repeat="article in articles| filter:searchText">
            <div class="item item-divider" ng-click="toggleGroup(article)">
                <p>{{article.name}}</p>
            </div>
                        
            <div class="item item-image" ng-click="toggleGroup(article)" ng-class="{active: isGroupShown(article)}">
                <img src= {{article.cover}}>
            </div>

            <div class="item-accordion" ng-show="isGroupShown(article)">
                {{article.details}}<br>
                {{article.details}}<br>
                <button class="button icon-left button-assertive icon ion-heart button-clear">Wanna Try</button>
                <button class="button icon-left button-positive icon ion-thumbsup button-clear">Like!</button>
                <button class="button icon-left button-positive icon ion-thumbsdown button-clear">Inaccruate</button>
            </div>

            <div class="item item-avatar-left">
                <img src= {{article.foodieimg}}>
                {{article.foodie}}<br>
                <i class="icon ion-clock"></i> {{article.age}}
                <i class="icon ion-stats-bars"></i> {{article.rating}} 
            </div>     
        </ion-item>    
    </div>

    </div>
</ion-content>













