<ion-view view-title="Chats">
  <ion-content>
    <ion-list>

        <ion-item>Preference:</ion-item>

        <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats| filter:{preference: 1} |limitTo: 1 " type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
        </ion-item>

        <ion-item>Deals:</ion-item>

        <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats| filter:{deals: 1} |limitTo: 1 " type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
        </ion-item>

        <ion-item>Recommended:</ion-item>

        <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats| filter:{recommended: 1} |limitTo: 1 " type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
        </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
