
<ion-view view-title="Treasure Hunt" hide-nav-bar="false">


  <ion-content>

  <p></p>
  <form>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Token code</span>
        <input type="text" ng-model="tokenInput.code" placeholder="Enter token scode...">
      </label>

    <button type="submit" class="button button-block button-balanced" ng-click="claimToken(tokenInput)"> Claim Token </button>

  </form>

  <div>PREVIEW</div>


    <div class="item item-body" style="padding: 0px">
      <ion-slide-box does-continue="true" auto-play="true" style="padding-bottom: 15px">
      <ion-slide>
        <img class="full-image" src="{{articleInput.image}}">
        {{img}}
      </ion-slide>
      </ion-slide-box>
      <p>
        {{articleInput.name}}<br>
        {{articleInput.contents}}
        <br>
        <a href="#" class="subdued">30 Like</a>
        <a href="#" class="subdued">100 % Positive</a>
      </p>
    </div>
    <div class="item" ui-sref="app.restaurant">
      <h2>Name: {{articleInput.restaurantName}}</h2>
      <p>Location: {{articleInput.location}}</p>
      <p>Type: {{articleInput.type}}</p>
    </div>

  </ion-content>
</ion-view>
