<ion-modal-view>

  <ion-header-bar>
    <h1 class="title">Token Claim: {{TokenNumber}}</h1>
    <div class="buttons">
      <button class="button button-cross" ng-click="closeTokenClaim()">Close</button>
    </div>
  </ion-header-bar>

  <ion-content>

    <div class="list">

        <label class="item item-input item-floating-label">
          <span class="input-label">Token code</span>
          <input type="text" ng-model="TokenClaim.code" placeholder="enter token code...">
        </label>
        <button type="submit" class="button button-block button-balanced" ng-click="ClaimToken(TokenNumber, TokenClaim.code)"> Claim Token </button>

    </div>

    <button class="button button-block " ng-click="closeTokenClaim(); openHints(TokenNumber)" menu-close>Token Hints</button>

  </ion-content>

</ion-modal-view>

